/* css reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}

h1,
h2,
h3 {
    line-height: 1;
}

img,
svg {
    max-width: 100%;
}

img {
    background-size: cover;
}

li {
    list-style: none;
}

button {
    background-color: inherit;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    max-width: 65ch;
    line-height: 1.5;
}

body {
    background-color: var(--White);
    font-size: 0.925rem;
}

/* global custom properties */

:root {
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
    --global-padding: 1.5rem
}

.test {
    max-width: 1240px;
    margin-inline: auto;
}

/* utilitie-classes */

.description {
    color: var(--Dark-Gray);
}

.ltr-sp-4 {
    letter-spacing: 4px;
}

.ltr-sp-8 {
    letter-spacing: 8px;
}

.title {
    color: var(--Black);
}

.big-title {
    font-size: clamp(1.3rem, 1.1rem + 3vw, 2rem);
    max-width: 15ch;
}

.medium-title {
    font-size: clamp(1.3rem, 0.8rem + 5vw, 1.6rem);
    font-weight: 400;
}

.img {
    width: 100%;
    height: 100%;
}

/* main style */

.wraper,
.description-section,
.about-section {
    display: grid;
}

.description-section,
.about-section {
    gap: 1.5rem;
    /* place-content: center; */
    padding: 2rem;
}

.wraper {
    grid-template-areas: 'header' 'descr' 'img-d' 'about' 'img-l';
    margin-inline: auto;
}

.header {
    line-height: 0;
    grid-area: header;
    display: grid;
    position: relative;
}


@keyframes showImage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.move-btns {
    display: grid;
    grid-auto-flow: column;
    grid-area: header;
    align-self: flex-end;
    justify-self: flex-end;
    z-index: 10;
}

.description-section {
    grid-area: descr;
}

.about-section {
    grid-area: about;
}

.img-dark {
    grid-area: img-d;
}

.img-light {
    grid-area: img-l;
}

.header__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: absolute;
    left: 0;
    right: 0;
    top: var(--global-padding);
    padding-inline: var(--global-padding);
}


#menu-btn {
    display: none;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--White);
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    top: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%) scale(0, 1);
    transform-origin: left;
    background-color: var(--White);
    transition: transform 0.2s ease-out;
}

.nav-item:hover::after {
    transform: translateX(-50%) scale(1, 1);
}

.move-btn {
    background-color: var(--Black);
    display: grid;
    place-items: center;
    padding-block: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    min-width: 3rem;
}

.move-btn:hover {
    background-color: var(--Dark-Gray);
}

.description-section__btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 0.2s ease-out;
    cursor: pointer;
}

.description-section__btn:hover {
    color: var(--Dark-Gray);
}

.description-section__btn:hover svg path {
    fill: var(--Very-Dark-Gray);
    transition: fill 0.2s ease-out;
}

.description-section__btn:hover svg path {
    fill: var(--Dark-Gray);
}

@media screen and (max-width:800px) {


    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--White);
        width: 100%;
        padding: var(--global-padding);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform 0.5s ease-out, opacity 0.3s ease;
    }



    .nav-items {
        color: var(--Black);
        font-weight: 700;
    }

    .nav-item::after {
        background-color: var(--Black);
    }

    .menu-btn-container {
        cursor: pointer;
    }

    #menu-btn:checked~.navbar {
        transform: translateY(0);
        opacity: 1;
        transition: transform 0.3s ease-out, opacity 0.5s ease;
    }

    .logo-container {
        flex-grow: 0.5;
        align-self: safe;
    }

    .description-section__btn {
        margin-top: 1rem;
    }

    .max-size-container {
        width: 100%;
        max-width: 600px;
        margin-inline: auto;
    }

    .header__head.max-size-container {
        max-width: unset;
    }

}

@media screen and (min-width:801px) {

    .header__head {
        justify-content: unset;
        flex-direction: row;
        gap: 3rem;
    }



    .description-section,
    .about-section {
        place-content: center;
    }

    .menu-btn-container {
        display: none;
    }

    .wraper {
        grid-template-areas: 'header header' 'img-d descr' 'about img-l';
    }

}


@media screen and (min-width: 1050px) {


    .header,
    .move-btns,
    .description-section,
    .about-section,
    .img-dark,
    .img-light {
        grid-area: unset;
    }

    .wraper {
        grid-template-areas: none;
        grid-template-columns: 8fr 8fr 1fr 1fr 8fr;
    }

    .header {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .move-btns {
        grid-column: 3 / 5;
        grid-row: 1;
        justify-self: stretch;
        max-width: 100%;
    }


    .move-btn {
        min-width: unset;
    }

    .description-section {
        grid-column: 4 / 6;
        grid-row: 1;
    }

    .img-dark {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .about-section {
        grid-column: 2 / 5;
        grid-row: 2;
    }

    .img-light {
        grid-column: 5 / 6;
        grid-row: 2;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}